.listCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 15px;
    
}

.userCard{
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 20px;
}

.userCard hr {
    border: 1px solid #E5E5E5;
}

.userCard__name{
    text-align: left;
    font-size: 23px;
}

.userCard__list {
    line-height: 1.5;
}

.userCard__item {
    color: #302F2F;
}

.userCard__item span {
    color: #E5E5E5;
}

.userCard__footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.userCard__footer-btnDelete{
    border: 1px solid #D93F3F;
    background-color: #D85D5D;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 200ms ease;
}

.userCard__footer-btnDelete:hover {
    background-color: #db7272;
}

.userCard__footer-btnEdit {
    border: 1px solid #1582ca;
    background-color: #3489c2;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 200ms ease;
}

.userCard__footer-btnEdit:hover {
    background-color: #5b8eaf;
}


